<mat-toolbar color="primary">
    <button mat-button (click)=back()>
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Forecast</span>
</mat-toolbar>
<div class="loading">
    <mat-progress-spinner mode="indeterminate"  *ngIf="forecast_groupby==undefined">
    </mat-progress-spinner>
</div>
<div *ngIf="forecast_groupby">
    <div *ngFor="let item_dias of forecast_groupby ; let i = index"> 
        <app-forecast-card  [item_forecast]="item_dias" >
        </app-forecast-card>
    </div>
</div>
<div *ngIf="forecast">
</div>


