<mat-toolbar color="primary">
    <button mat-button (click)=back()>
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Add location</span>
</mat-toolbar>
<div style="margin:20px; display: flex;">
    <mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="Enter city" [(ngModel)]="city" />
        <button mat-button matSuffix mat-icon-button (click)="search()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</div>
<span class="loading" *ngIf="loading"><img [src]="'../../../assets/loading.gif'"  width="80px"></span>
<h4 id="mensaje" *ngIf="encontrado!=undefined && !encontrado">{{ msg}}</h4>
<mat-list *ngIf="encontrado">
    <mat-list-item *ngFor="let location of locations">
        <h4 matLine>{{location.name}}</h4>
        <button mat-icon-button>
            <mat-icon (click)="addLocation(location)">add</mat-icon>
        </button>
        <p matLine>{{location.country}}, {{location.lat}}, {{location.lon}}</p>
    </mat-list-item>
</mat-list>