<mat-toolbar color="primary">
    <span class="example-fill-remaining-space"></span>
    <span>My Weather</span>
    <span class="example-fill-remaining-space"></span>
    <button mat-button (click)="irMapa()">
        <mat-icon>place</mat-icon>
    </button>
    <button mat-button (click)="addLocation()">
        <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>
<div *ngIf="listalocations && listalocations.length>0; else Nolista">
<app-weather-card [location]="location" (removed)="removeLocation($event)"
    *ngFor="let location of listalocations"> 
</app-weather-card>
</div>
<ng-template #Nolista>
   <div class="titulo">
        Pulsa sobre el icono + para añadir tus ciudades favoritas
   </div>
</ng-template>