<mat-card>
    <mat-card-header> 
        <mat-card-title>{{item_forecast[0].dt_txt | date:'fullDate'}}</mat-card-title>        
    </mat-card-header>   
    <mat-card-content *ngFor="let item_dia of item_forecast">
        <span class="item_forecast">{{item_dia?.dt_txt | date:'shortTime':'UTC+0'}} </span>
        <span class="item_forecast">{{item_dia.temp}} ºC</span>
        <span class="item_forecast"><img [src]="'http://openweathermap.org/img/w/' + item_dia?.icon + '.png'"></span>
    </mat-card-content>    
</mat-card>

